# Dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# Testing
coverage
playwright-report
test-results

# Next.js
.next
out
build

# Misc
.DS_Store
*.pem
.vercel

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*.local
.env

# Git
.git
.gitignore

# IDE
.vscode
.idea
.cursor

# CI/CD
.github

# Docs
docs
*.md
!README.md
